@model WebFrameworksGroupCA2Project.Models.Vinyl
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> userManager


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<input type="hidden" value="@Model.Id" />

<div>
    <h4>Vinyl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinylName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinylName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinylInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinylInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin")) 
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

    }
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
