@model IEnumerable<WebFrameworksGroupCA2Project.Models.UserVinylRequest>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> signInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Your Vinyl Requests</h1>

@if (!string.IsNullOrEmpty(ViewBag.RequestVinyl))
{
    <h2 class="font-weight-bold text-success">@ViewBag.RequestVinyl</h2>
}


<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
               Vinyl Request ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinylName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/images/@item.ImageFileName" style="width: 70px; length: 100px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VinylName)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                </td>
                <td>
                    @if (item.Status == "Pending") {
                    <a asp-action="UserRequestEdit" asp-route-id="@item.Id">Edit |</a>
                    }
                    
                    <a asp-action="UserRequestDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="UserRequestDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
