@using WebFrameworksGroupCA2Project.DTOs
@model PlaylistGetDTO

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<style>
    .song-item {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .song-item:hover {
        background-color: #f0f0f0; /* Light gray color on hover */
        transform: scale(1.008); /* Slightly scale up the song item */
        cursor: pointer;
    }


    .transparent-bg {
        background-color: rgba(255, 255, 255, 0.88);
        padding: 40px;
        border-radius: 8px;
    }
</style>

<div class='transparent-bg p-4'>


    <div class="d-flex mb-4">
        <!-- Playlist Image -->
        <div>
            <img src="~/images/@Model.ImageFileName" alt="@Model.PlaylistName"
                 class="img-thumbnail"
                 style="width: 200px; height: 200px; object-fit: cover;"/>
        </div>

        <!-- Playlist Info -->
        <div class="ms-4">
            <h2 class="text-dark">@Model.PlaylistName</h2>
            <p class="text-dark">
                <i class="fas @(Model.StatusPrivate ? "fa-lock" : "fa-globe-americas") me-2"></i>
                @(Model.StatusPrivate ? "Private" : "Public") Playlist
            </p>
        </div>

    </div>

    @if (Model.PlaylistSongs != null && Model.PlaylistSongs.Any()) {
        <h3 class="text-dark">Songs in this Playlist:</h3>

        <ul class="list-group">
            @{
                var index = 1;
            }
            @foreach (var playlistSong in Model.PlaylistSongs) {
                var song = playlistSong.Song;
                var artist = song?.Artist;

                <li class="list-group-item d-flex justify-content-between align-items-center song-item">
                    <!-- Song Link -->
                    <a asp-action="Details" asp-controller="Songs" asp-route-id="@song?.Id">
                        <div>
                            <strong>@index.</strong> @song?.SongName
                        </div>
                    </a>
                    <a asp-action="Details" asp-controller="Artists" asp-route-id="@song?.ArtistId"
                       class="artist-details">
                        <div class="text-muted">@artist?.ArtistName</div>
                    </a>

                    <div>
                        <a>Release date: @song!.DateOfRelease.ToShortDateString()</a>
                    </div>
                </li>
                index++;
            }
        </ul>
    }
    else {
        <p>This playlist has no songs yet.</p>
    }

    <div class="mt-4">
        <a asp-action="Index"
           class="btn btn-secondary  text-light">
            Back to List
        </a>
    </div>

</div>


