@model IEnumerable<WebFrameworksGroupCA2Project.Models.PlaylistSong>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
<h1 style="font-weight: bold;">Songs For Playlist</h1>
</div>

<p>
    <a class="btn btn-primary" asp-action="Index">Go Back to View Only Your Playlist</a>
</p>

<!---<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th>

</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Playlist.PlaylistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.SongName)
                </td>
                <td>
                    <a class="btn btn-danger" style="font-size: 12px;" asp-action="EditPlaylistSong" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" style="font-size: 12px;" asp-action="DetailsPlaylistSong" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" style="font-size: 12px;" asp-action="DeletePlaylistSong" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>