@using WebFrameworksGroupCA2Project.DTOs
@model ArtistGetDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "Details";
}

<style>
    .transparent-bg {
        background-color: rgba(84, 79, 79, 0.64); 
        padding: 40px; 
        border-radius: 8px; 
    }
</style>

<head>
    <!-- Add Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<div class="container py-4">
    <div class="transparent-bg">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="/images/@Model.ImageFileName" class="rounded-circle img-fluid shadow-lg mt-2" style="height: 300px; width: 300px; object-fit: cover;" alt="@Model.ArtistName" />
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="fw-bold mb-4">@Model.ArtistName</h1>
                <dl class="row">
                    <dt class="col-sm-3">
                        <i class="fas fa-music"></i> Genre:
                    </dt>
                    <dd class="col-sm-9 fw-normal">@Model.Genre</dd>

                    <dt class="col-sm-3">
                        <i class="fas fa-globe-americas"></i> Born in:
                    </dt>
                    <dd class="col-sm-9 fw-normal">@Model.BirthCountry</dd>

                    <dt class="col-sm-3">
                        <i class="fas fa-info-circle"></i> Overview:
                    </dt>
                    <dd class="col-sm-9 fw-normal">@Model.Overview</dd>
                </dl>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            @if (User.IsInRole("Admin")) {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>
            }
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>
